body{
  background-color: white;
  color: black;
  display: inline-grid center;
  zoom: 80%;

}
h1{
  border-bottom: 2px solid rgb(102, 98, 98);
  font-size: 10px;
  
}
h2{
  display: inline;
  font-size: 20px;
  
}
h3{
  font-weight: 400;
  font-size: 1em;
  

}
.card{
  box-sizing: content-box;
  width: 30%;
  height: 300px;
  border: 1px solid gray;
  margin: 20px;
  padding: 20px 30px;
  display: grid;
  display: inline-block 
}

.container{
  padding: 2px 30px 20px 5px;
  float: right;
  width: 30%;
  text-align: justify;
  display: grid;

  
    
    
  
  
   
  
}
.articles{
  text-align:start;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 200px;
  
}
